:root {
    --c-1: hsl(192, 37%, 48%);
    --c-2: #855FB1;
    --c-3: hsl(240, 21%, 20%);
    --c-4: hsl(240, 10%, 57%);
    --c-5: hsl(192, 90%, 77%);
    --c-6: hsl(268, 100%, 86%);
    --c-7: hsl(0, 0%, 98%);

    --font-main: 'Red Hat Display', sans-serif;
}



html {
    font-size: 100%;
}

* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after{
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/*TYPOGRAPHY */
body { 
    line-height: 1.625;
    font-weight: 500;
    color: var(--c-4);
    font-family: var(--font-main);
    text-align: center;
}

.heading-1 {
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 1.1;
    color: var(--c-3);
}

.heading-2 {
    font-size: 2rem;
    line-height: 1.1;
    color: var(--c-3);
}
 
.overline {
    font-size: 1rem;
    line-height: 1.625;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color: var(--c-1);
}



/*BTNS*/

.btn {
    border-radius: 3em;
    transition: filter 500ms;
    color: var(--c-7);
    font-size: inherit;
    font-family: inherit;
    border: 0;
    padding: 1em 2em;
}

.btn:hover, .btn:focus {
    filter: brightness(120%);
}


.btn--blue {
    background: var(--c-1);
}


.btn--purple {
    background: var(--c-2);
}




/*Layout*/


.logo {
    padding:2.5em;
}

.hero {
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 2em;
}





.hero__col-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    transform: translateX(-10%);
}

.hero__col-2 {
    grid-column: 1 / -1;
}
.hero__col-3 {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    transform: translateX(10%);
}

.hero__title {
    max-width: 270px;
    margin: 0 auto 0.7em;
}

.hero__description {
    margin-bottom: 1.8em;
}


.hero__cta {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__cta-download {
    margin-bottom: 1em;
}



.step-container {
    margin-top: 9em;
    position: relative;
    padding: 5em 0 0;
}



.container {
    width: 87.2%;
    margin-left: auto;
    margin-right: auto;
}





.step {
    border-radius: 50%;
    border: var(--c-4) solid 1px;
    width: 3.5em;
    height: 3.5em;
    line-height: 3.5em;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);

}


.step::after {
    content: '';
    height: 90px;
    background: var(--c-4);
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    transform: translateY(-100%);
}


.step-1__images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(auto, 151px));
    gap: 1.5em;
    justify-content: center;
    margin-bottom: 4em;
}

.step-1__img {
    border-radius: 5%;
}


.step-1__text {
    max-width: 330px;
    margin: 0 auto;
}

.step-1__title {
    margin: 1em 0;
}